:root {
    --bs-primary: #00a676; 
    --bs-primary-rgb: 0, 166, 118;
    --bs-dark: #212529;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, .navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

/* Переопределение кнопки Primary */
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #008f65 !important;
    border-color: #008f65 !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff;
}

/* Hero секция */
.hero-section {
    background: linear-gradient(135deg, #00a676 0%, #00684a 100%);
    border-radius: 0 0 50px 50px;
    box-shadow: 0 10px 30px rgba(0, 166, 118, 0.2);
    min-height: 500px;
    display: flex;
    align-items: center;
}

/* Карточки */
.course-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

/* Пагинация */
.page-link {
    color: var(--bs-primary);
    border: none;
    margin: 0 5px;
    border-radius: 5px !important;
}

.page-link:hover {
    background-color: #e9ecef;
    color: var(--bs-primary);
}

.page-item.active .page-link {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff;
}

/* Alerts в топе */
#alerts-container .alert {
    pointer-events: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}